html, body {
    margin: 0;
    height: 100%;
}

#map {
    width: 100vw;
    height: 90vh; /* Réduit la hauteur pour laisser de la place à la question */
    position: relative;
    background: lightgray; /* Couleur de fond de la carte pour la visibilité */
}

#question {
    position: absolute;
    top: 50px; /* Ajuste la distance du haut si nécessaire */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: bold;
    z-index: 1000; /* Assure que la question est au-dessus de la carte */
}

#startButton {
    position: absolute;
    top: 10px; /* Ajuste la distance du haut si nécessaire */
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000; /* Assure que le bouton est au-dessus de la carte */
}
